<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<!-- Beginning of Algolia Search -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/necolas/normalize.css@8.0.1/normalize.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    // Mandatory
    appId: 'W6IW9VPH80',
    apiKey: 'ca748a346ae3f96481080446b7ab4489',
    siteId: 'b47ff087-dd38-450f-b4ce-49e3cb15a69a',
    branch: 'master',
    selector: 'div#search',
    // Optional
    analytics: true,                              
    hitsPerPage: 5,                               
    poweredBy: true,                              
    placeholder: 'Search ...',                     
    openOnFocus: true,
    // Theme
    theme: {
        mark: '#5468FF',                               
        background: '#edf6f5',                      
        selected: '#111432',                        
        text: '#d6d6e7',                             
        colorSourceIcon: '#d6d6e7',
        border: '1px solid #0aa8a7',                  
  }
  });
</script>

<style> 
    #search {      
      padding: 10px 10px 10px 10px;
      text-align: center;
      display: flex;  
      justify-content: center;                                  
}   
</style>
<!-- End of Algolia Search -->
<!-- BEGIN SHAREAHOLIC CODE -->
<link rel="preload" href="https://cdn.shareaholic.net/assets/pub/shareaholic.js" as="script" />
<meta name="shareaholic:site_id" content="4526562c4332a533dc2c1e62d1f1b63e" />
<script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js"></script>
<!-- END SHAREAHOLIC CODE -->
<body>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
</body>

</html>