<!-- {{ with .Get "id" }}
<div class="slideshare " id="Container"
 style="padding-bottom:58.80%; position:relative; display:block; width: 100%">
    <iframe
        src="//www.slideshare.net/slideshow/embed_code/key/{{ . }}"
        title="SlideShare Presentation"
        width="100%"
        height="100%"
        frameborder="0"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        style="position:absolute; border: 1px solid #CCC; border-width: 1px; margin-bottom: 20px;"
        allowfullscreen="true">
    </iframe>
</div>
{{ end }} -->

<div class="slideshare feature-card" id="Container"
 style="padding-bottom:58.80%; position:relative; display:block; width: 100%">
 <iframe id="SlideshareIframe"
  width="100%" height="100%"
  src="{{ .Get "src" }}"
  frameborder="0" allowfullscreen=""
  style="position:absolute; top:0; left: 0; border: 1px solid #CCC; border-width: 1px;"></iframe>
</div>